:root {
  --first-color: #ffdccc;
  --second-color: #023e8a;
  --third-color: #03045e;
}


body {
  font-size: x-large;
  text-align: center;
  display:flex;
  background-color: var(--third-color);
  flex-direction: column;
  color: var(--first-color);
  padding: 100px;
  justify-content: space-between;
}

.startScreen {
  text-align: center;
  display:flex;
  background-color: var(--third-color);
  flex-direction: column;
  color: var(--first-color);
  padding: 100px;
  justify-content: space-between;

}

.highScoreDisplay {
  float: left;
}

.timerDisplay {
  float: right;
}

.infoList {
  text-align: center;
  display:flex;
  background-color: var(--third-color);
  flex-direction: column;
  color: var(--first-color);
  padding: 100px;
  justify-content: space-between;
}


header {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--third-color);
  color: var(--first-color);
}

.quizButton {
  max-width: 100px;
  align-self: center;
  background-color: var(--second-color); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;

} 

.invisible {
  display: none;
}

.result {
  text-align: center;
  display:flex;
  background-color: var(--third-color);
  flex-direction: column;
  color: var(--first-color);
  padding: 100px;
  justify-content: space-between;
}

.buttons .answer{  
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-self: center;
  background-color: var(--second-color); 
  justify-content: space-between;
  border: none;
  color: var(--first-color);
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;

 }
 
.leaderBoard {
  text-align: center;
  display:flex;
  background-color: var(--third-color);
  flex-direction: column;
  color: var(--first-color);
  padding: 100px;
  justify-content: space-between;
} 